.DS_Store
.idea/
.vscode/
.run/
__pycache__/
uploads/
frames/
*.gif
#astea sunt generate la fiecare run positions_on_day.png
planets.png
planets-accurate.png
#kkturile genreate de manim
soft_challange/media/
soft_challange/soft_challange/media/
soft_challange/soft_challange/manim-render/
