<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Upload a .txt File</h1>

    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control-file" id="planetary_data_file" name="planetary_data_file" >
            <div class="drag-drop-area" id="drag-drop-area">
                Drop the planetary data here
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning mt-3">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</div>
<script src="../static/home.js"></script>
</body>
</html>