<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/cursor.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Start your journey! <sub>(Only .txt Files)</sub> </h1>
    <p> You can upload however many you want (with some conditions that you will be warned about, of courrse)</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="file" class="form-control-file" id="planetary_data_file" name="planetary_data_file">
                <div class="drag-drop-area" id="planetary-drag-drop-area">
                    Drop the planetary data here
                </div>
            </div>

            <div class="form-group col-md-4">
                <input type="file" class="form-control-file" id="rocket_data_file" name="rocket_data_file">
                <div class="drag-drop-area" id="rocket-drag-drop-area">
                    Drop the rocket data here
                </div>
            </div>

            <div class="form-group col-md-4">
                <input type="file" class="form-control-file" id="solar_system_data_file" name="solar_system_data_file">
                <div class="drag-drop-area" id="solar-system-drag-drop">
                    Drop the solar system data here
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

</div>
<script src="../static/home.js"></script>
</body>
</html>