<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Travel Data</h1>
    <ul class="list-group mt-3">
        <li class="list-group-item"><b>Escape Time</b>: {{ travel.escape_time }}</li>
        <li class="list-group-item"><b>Escape Distance</b>: {{ travel.escape_distance }}</li>
        <li class="list-group-item"><b>Cruise Time</b>: {{ travel.cruise_time }}</li>
        <li class="list-group-item"><b>Total Travel Time</b>: {{ travel.total_travel_time }}</li>
    </ul>
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Back to Home</a>
</div>
</body>
</html>